body, html{
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: Verdana,sans-serif;
    height: 100%;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
    padding: 0;
}

/* common color*/

.blue{
    color: #326da8;
}

/* header */
.header{
    height: 30%;
    padding: 30px 60px;
    color: white;
    background-color: #326da8;
}

.card{
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bd-card{
    background-color: white;
}
.info-name{
    font-weight: 700;
    color: #326da8;
}
.img-card img{
    width:100%;
}
.info-card{
    padding: 10px;
}
.social-card{
    background-color: #326da8;
    text-align: center;
    height: 50px;
}
.info label{
    font-weight: bold;
    width: 150px;
    display: inline-block;
}
/* font-awseome adjustments*/
.fa {
    padding: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}
  
  .fa:hover {
      opacity: 0.7;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        font-size: 20px;
    }
    .card{
        top: 80px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 84%;
        margin-bottom: 10px;
    }
    .bd-card{
        width:100%;
    }
    .img-card{
        height: 380px;
    }
    .img-card img{
        height: 100%;
    }
    .header{
        padding-top:10px;
        padding-left:8%;
    }
    .info label{
        width: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        font-size: 21px;
    }
    .card{
        top: 20%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 10px;
    }
    .bd-card{
        width:100%;
    }
    .img-card{
        height: 380px;
    }
    .img-card img{
        height: 100%;
    }
    .header{
        padding-left:10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .card{
        top: 10%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .bd-card{
        width:100%;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    body{
        font-size: 21px;
    }
    .card{
        top: 100px;
        width: 95%;
        height: 310px;
        margin-bottom: 10px;
    }
    .bd-card{
        height: 260px;
    }
    .img-card{
        float: left;
        width: 40%;
        height: 100%;
    }
    .img-card img{
        height: 100%;
    }
    .info-card{
        float:left;
        width: calc(60% - 20px);
    }
    .info label{
        width: 130px;
    }
    .social-card{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .header{
        padding-top: 10px;
        padding-left:2.5%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .card{
        top: 20%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 72%;
    }
    .bd-card{
        height: 260px;
    }
    .img-card{
        float: left;
        width: 40%;
        height: 100%;
    }
    .img-card img{
        height: 100%;
    }
    .info-card{
        float:left;
        width: calc(60% - 20px);
    }
    .info label{
        width: 120px;
    }
 
    .header{
        padding: 30px 14%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    .card{
        top: 20%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 400px;
    }
    .bd-card{
        height: 350px;
    }
    .img-card{
        float: left;
        width: 40%;
        height: 100%;
    }
    .img-card img{
        height: 100%;
    }
    .info-card{
        float:left;
        width: calc(60% - 20px);
    }
    .info label{
        width: 150px;
    }
 
    .header{
        padding: 30px 15%;
    }
}